<H1 text-align="center"> About us </H1>

<p> This site is for people who wants to check the latest news on crypto coins and for people who loves to earn money by investing in crypto currency..</p>

<p>For any queries, contact me @<%= @var %></p>